@import "~styles/shared";

.Opponent {
  //--------
  &__opponent {
    text-align: center;
  }

  &__opponentList {
    display: grid;
    grid-auto-flow: column;
    margin-top: -50px;
    max-height: 100%;
    max-width: 100%;
    column-gap: 20px;
    width: 100%;
    grid-row: 1;
    grid-column: 2/3;
  }
}
