@import "~styles/shared";

.Board {

  &__board {
    background-color: #725c4d;
    display: grid;
    height: 100vh;
    justify-items: center;
    row-gap: 5%;
  }

  &__waiting {
    grid-template-rows: 0.2fr 2fr auto 1fr;
  }

  &__storytelling {
    grid-template-rows: 0.2fr 1fr auto 2fr;
  }

  &__addowncard {
    grid-template-rows: 0.2fr 1fr auto 2fr;
  }

  &__votestory {
    grid-template-rows: 0.2fr 1fr auto 2fr;
  }

  &__finish {
    grid-template-rows: 0.2fr 2fr 1fr;
  }
}
