@import "~styles/shared";

.Card {
  &__list {
    /*align in parent*/
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0px;

    /*align children*/
    display: flex;
    /*justify-content: space-evenly; repleaced with auto margin*/
    overflow-x: auto;
  }

  &__container {
    /*align in parent*/
    height: 100%;
    width: 0px;
    margin: auto;

    /*align children*/
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;

    transition: 300ms ease all;
  }

  &__image {
    height: 100%;
    max-width: 100vw;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    object-fit: scale-down;
    transition: all 300ms ease-in;
  }

  &__fullscreenContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
  }
}
