@import "~styles/shared";

.Card {
  //--------
  &__container {
    display: grid;
    justify-items: center;
    align-content: start;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    min-width: 200px;
    transition: 300ms ease all;
  }

  &__list {
    overflow-x: auto;
    display: flex;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

}
